<footer class="bg-[#F3EEE8]">
    <div class="md:mb-10 font-baskervville">
        <div class="flex justify-center items-center pt-6 md:pt-10 pb-4 md:pb-10">
            <a href="/">
                <img src="/images/black-logo.svg" alt="logo" class="w-[210px] h-[210px] md:w-[240px] md:h-[240px]" />
            </a>
        </div>
        <div class="container mx-auto flex justify-center items-center text-center">
            <ul class="transform md:flex md:items-center md:w-auto md:space-x-7 space-y-2 md:space-y-0" id="menu">
                {% for link in page.topmenu.links %}
                {% if (link.href | replace('/', '')) == (page.url | replace('/', '')) %}
                <li class="text-black hover:primary-clr text-sm md:text-base"><a href="{{ link.href }}"
                        class="hover:no-underline" aria-current="page">{{ link.title }}</a></li>
                {% else %}
                <li class="text-black text-sm md:text-base hover:primary-clr"><a href="{{ link.href }}"
                        class="hover:no-underline">{{ link.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container mx-auto max-w-[1000px] lg:max-w-[1200px] text-black">
        <div class="py-6 md:py-8 flex flex-col md:flex-row justify-between items-center text-sm md:mx-0  space-y-2">
            <div>Managed by Plain Canvas LLP</div>
            <a class="py-2 md:pl-10 lg:pl-16 inline-flex space-x-5 md:mb-0">
                {% for sm in site.social %}
                <img src="{{sm.image}}" alt={{sm.name}} />
                {% endfor %}
            </a>
            <div>Website developed by LaLaLand</div>
        </div>
    </div>
    </div>
</footer>