<header>
<div class="text-white lg:container lg:mx-auto font-fraunces">
    <nav class="py-4 md:py-5 flex justify-between items-center md:px-[1%]">
        <div class="hidden md:block">
            <a class=" text-3xl font-bold leading-none md:pl-6 inline-flex gap-6">          
                <img src="/images/twitter.png" alt="logo" class="social-icon">
                <img src="/images/fb.png" alt="logo" class="social-icon">
                <img src="/images/insta.png" alt="logo" class="social-icon">
            </a>                     
        </div>
        <a href="/">
        <img class="pl-5 w-[120px] md:w-[175px] h-auto pt-2 md:pt-0" src="/images/logo-white.svg" alt="logo" /> 
        </a>      
        <button class="pr-0 md:pr-6">
            <a class="hover:no-underline hidden md:inline-block py-2 px-6 border border-white transition duration-200 hover:bg-white hover:primary-clr text-sm semibold tracking-widest" href="{{page.topmenu.cta.href}}">{{page.topmenu.cta.title}}</a>
        </button>
        <div class="pr-3 md:hidden pt-2">
            <button class="navbar-burger flex items-center p-2">
                <img src="/images/hamburger.png" class="rounded-sm border-1 border h-8" alt="hamburger menu" />
                <title>Mobile menu</title>
            </button>
        </div>
    </nav>

    <div class="container mx-auto flex justify-center items-center pt-5">
        <ul class="hidden transform md:flex md:items-center md:w-auto md:space-x-7" id="menu">
        {% for link in page.topmenu.links %}
        {% if (link.href | replace('/', '')) == (page.url | replace('/', '')) %}
        <li><a href="{{ link.href }}" class="text-sm  semibold uppercase tracking-widest" aria-current="page">{{ link.title }}</a></li>
        {% else %}
            <li><a href="{{ link.href }}" class="text-xs semibold text-[#ffffffcc] hover:no-underline hover:text-white uppercase tracking-widest">{{ link.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    </div>

    <div class="navbar-menu z-50 hidden">
        <div class="navbar-backdrop fixed inset-0 opacity-0 z-40"></div>
        <nav class="absolute top-[91px] left-0 flex flex-col py-4 px-4 bg-white border-r w-full z-50">
            <div class="flex items-center ml-auto">
                <button class="navbar-close">
                    <img class="rounded" src="/images/close.png" alt="navbar-close">
                </button>
            </div>            
            <div>
                <ul>
                    {% for link in page.topmenu.links %}
                        {% if link.href == page.url %}
                            <li class="mb-1"><a href="{{ link.href }}" class="block py-2 pl-3 pr-4 hover:no-underline hover:primary-clr font-bold leading-tight primary-clr" aria-current="page">{{ link.title }}</a></li>
                        {% elseif (link.href | replace('/', ''))==(page.url | replace('/', ''))  %}
                            <li class="mb-1"><a href="{{ link.href }}" class="block py-2 pl-3 pr-4 hover:no-underline hover:primary-clr text-base font-bold leading-tight primary-clr" aria-current="page">{{ link.title }}</a></li>
                        {% else %}
                            <li class="mb-1"><a href="{{ link.href }}" class="block py-2 pl-3 pr-4 hover:no-underline hover:primary-clr text-base  font-baskervville leading-tight text-gray-700">{{ link.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>                                    
            </div>
            
        </nav>
    </div>
</div>
</header>