<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ pageTitle or title }} - {{ site.title }}</title>
    <meta name="description" content="{{ description or site.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" href="{{ '/css/tw.min.css' | url }}">  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Baskervville&family=Fraunces:ital,opsz@0,9..144;1,9..144&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz@0,9..144;1,9..144&display=swap" rel="stylesheet">
  </head>
  <body class="text-gray-700">
    {{ content | safe }}
    {% include "footer.html" %}
    <script src="/main.js" defer></script>
  </body>
</html>
