---
layout: default.njk
---

<div class="bg-[#111827]">
    {% include "header.html" %}
    <p class="font-fraunces text-white text-center text-4xl md:text-7xl lg:text-9xl pb-12 md:py-12 lg:py-24 mx-10">Contact</p>
</div>
<div class="mx-0 md:mx-[5%] lg:mx-[20%] font-fraunces font-semibold tracking-normal lg:tracking-widest text-center text-2xl md:text-3xl md:space-y-2">
     <div class="pt-12 md:pt-20">
    <p class="text-lg md:text-2xl font-fraunces primary-clr">FOR BOOKING, PLEASE CONTACT:</p>
     <div class="pt-2 md:pt-6">
    <a class="hover:primary-clr hover:no-underline" href="tel:{{ site.phone }}">{{ site.phone }}</a>
    </div>
   <div class="pt-4">
    <a class="hover:primary-clr hover:no-underline" href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>
    </div>
    <div class="flex items-center justify-center pt-10 md:pt-12">
        <img src="/images/contact/location.png" alt="location">
    </div>
    <p class="text-sm md:text-base font-bold tracking-widest py-1 md:py-3">LOCATION</p>
    <div>{{ site.name }}</div>
    <div>{{ site.name2 }}</div>
    <div>{{ site.place }}</div> 
    <div>{{ site.district }}</div> 
    <div>{{ site.state }}, {{ site.country }}</div>
    <div class="flex items-center justify-center py-10">
        <img src="/images/about-us/divider.svg" alt="divider">
    </div>
</div>
<div class="flex items-center justify-center px-6 md:p-12">
    <div class="mx-auto w-full max-w-[600px]">
        <form>
            <div class="mb-5 flex flex-col ">
                <label for="first_name" class="  font-bold block text-sm mb-2">Name <span class="text-red-500">*</span></label>
                <div class="flex gap-4">
                    <div class="w-1/2 rounded-md shadow">
                        <input type="text" name="first_name" id="first_name" placeholder="First Name" class="w-full rounded-md border border-[#e0e0e0] bg-white py-2 px-6 text-base font-medium text-[#6B7280] outline-none focus-dotted-border " required />
                    </div>
                    <div class="w-1/2 rounded-md shadow">
                        <input type="text" name="last_name" id="last_name" placeholder="Last Name" class="w-full rounded-md border border-[#e0e0e0] bg-white py-2 px-6 text-base font-medium text-[#6B7280] outline-none focus-dotted-border " required />
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <label for="email" class="block   font-bold text-sm">Email</label>
                <div class="rounded-md shadow">
                    <input type="email" name="email" id="email" placeholder="example@domain.com" class="w-full rounded-md border border-[#e0e0e0] bg-white py-2 px-6 text-base font-medium text-[#6B7280] outline-none focus-dotted-border " />
                </div>
            </div>
            <div class="mb-5">
                <label for="subject" class="block   font-bold text-sm">Phone <span class="text-red-500">*</span></label>
                <div class="rounded-md shadow">
                    <input type="text" name="subject" id="subject" placeholder="Phone number" class="w-full rounded-md border border-[#e0e0e0] bg-white py-2 px-6 text-base font-medium text-[#6B7280] outline-none focus-dotted-border " required />
                </div>
            </div>
            <div class="mb-3">
                <label for="message" class="block   font-bold text-sm">Your Message <span class="text-red-500">*</span></label>
                <div class="rounded-md">
                    <textarea rows="4" name="message" id="message" placeholder="Type your message" class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus-dotted-border" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);" required></textarea>
                </div>
            </div>
            <div class="pb-20">
                <button class="text-sm lg:inline-block py-2 px-6 primary-clr border hover:bg-yellow-600 hover:text-white border-yellow-600 transition duration-200">
                    <a class="hover:no-underline" href="">SEND MESSAGE</a>
                </button>
            </div>
        </form>
    </div>
</div>
<div class="w-full flex-row md:flex pb-20">
        <div class="w-full md:w-1/2">
            <iframe class="w-full h-[500px]" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7810.779158646222!2d75.46279089481266!3d11.807965055473225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba424478d254a41%3A0x54607e9f7165d01a!2sMelur%2C%20Kerala!5e0!3m2!1sen!2sin!4v1709881763202!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>   
    <div class="w-full md:w-1/2 bg-[#111827] ">
        <div class="text-white text-left space-y-1 py-10 lg:py-10 mx-8">
        <div class="">
            <h2 class="text-3xl md:text-4xl lg:text-4xl font-semibold mb-4 lg:mb-8 primary-clr">How To Reach</h2>
            <div class="">
            <div class="flex gap-3">
             <img src="/images/contact/air.png" alt="By air" class="w-[35px] h-[32px]">
             <h3 class="text-xl md:text-2xl font-semibold mb-2 primary-clr">By Air</h3>
             </div>
                <ul class="text-sm md:text-base">
                    <li>Kannur International Airport: 22 kms</li>
                    <li>Calicut International Airport: 100 kms</li>
                    <li>Mangalore International Airport: 160 kms</li>
                </ul>
            </div>  
            <div class="mt-4">
               <div class="flex gap-4">
             <img src="/images/contact/rail.png" alt="By Rail" class="w-[35px] h-[32px]">
             <h3 class="text-xl md:text-2xl font-semibold mb-2 primary-clr">By Rail</h3>
             </div>
                <ul class="text-sm md:text-base">
                    <li>Thalassery Railway Station: 9 kms</li>
                    <li>Kannur Railway Station: 16 kms</li>
                </ul>
            </div>
             <div class="mt-4">
               <div class="flex gap-4">
             <img src="/images/contact/road.png" alt="By Road" class="w-[35px] h-[32px]">
             <h3 class="text-xl md:text-2xl font-semibold mb-2 primary-clr">By Road</h3>
             </div>
                <div  class="text-sm md:text-base">
                    National Highway 66 (NH66) passes through Thalassery. The road is currently undergoing widening, with the new six-lane highway set to open in 2025.
                </div>
            </div>
        </div>
    </div>
    </div>  
 </div>
<div  class="mx-auto text-center lg:max-w-[1100px] pt-10 md:pt-14 lg:pt-16">
  <div class="flex items-center justify-center">
    <img src="/images/about-us/divider.svg" alt="divider">
  </div>
  <div class="font-fraunces primary-clr text-3xl md:text-6xl text-center py-6 md:py-10 pt-5 medium tracking-tight leading-10 lg:leading-12 w-full max-w-[300px] md:max-w-[900px] lg:max-w-[950px] lg:h-max-[307px] mx-auto text-clip overflow-hidden"
  style="line-height: 1.5;">Discover the charm of Thalassery at <br> The Heritage 1866. <br>Your unforgettable experience awaits!</div>
  <div class="flex items-center justify-center pb-16">
    <img src="/images/about-us/divider.svg" alt="divider">
  </div>
</div>