---
layout: default.njk
---

<div class="bg-[#C29A5C]">
    {% include "header.html" %}
    <p class="text-white text-center text-5xl md:text-9xl pb-12 md:py-12 lg:py-24">Dining</p>
</div>

<div class="mx-[4%] md:mx-[8%] lg:mx-[20%] pt-8 md:pt-12 lg:pt-24">
    <p class="primary-clr text-3xl md:text-6xl text-center medium py-4 lg:py-6 leading-tight md:leading-snug">Gourmet Experiences</p>
    <p class="md:leading-tight text-sm md:text-base font-serif text-center md:mx-0 lg:mx-auto lg:max-w-[900px]">Phasellus vitae volutpat donec at felis mauris tincidunt elit vel eu aenean commodo, tincidunt elementum et dictum scelerisque tempus amet eget viverra lectus tristique suspendisse tortor feugiat eu lacinia sed elementum in iaculis sapien cursus odio massa gravida ut molestie sed vel senectus donec nunc nunc nec laoreet.</p>
    <div class="flex items-center justify-center pt-6 md:pt-8 lg:pt-8 pb-20 md:pb-20 lg:pb-20">
        <img src="/images/about-us/divider.svg" alt="divider">
    </div>
</div>

<div class="space-y-56 md:space-y-16 pb-56 md:pb-36">
    {% set count=1 %}
    {% for d in page.dining.din %}
    {% if count%2 !=0 %}
    <div class="inline-flex relative">
        <div>
            <img src="{{d.image}}" alt="{{d.title}}" class="w-[900px] h-[350px] md:w-[1500px] md:h-[500px] object-left left-0 object-none">
        </div>
        <div class="absolute bg-[#F3EEE8] top-[55%] md:top-[72px] left-[10%] md:left-[40%] lg:left-[50%] max-w-[500px] md:max-w-[514px] lg:max-w-[580px]  ">
            <div class="mx-6 md:mx-12">
                <p class="primary-clr text-2xl md:text-5xl pt-4 md:pt-10 leading-snug medium">{{d.title}}</p>
                <p class="text-sm md:text-base font-serif leading-6 text-justify pt-2 md:pt-4 lg:leading-tight">{{d.desc}}</p>
                <button class="primary-clr hover:text-black text-sm mb-8 mt-8 md:mb-12 md:mt-6 leading-widest">EXPLORE → </button>
            </div>
        </div>
        <div>
            <img src="/images/dining/whitebg.png" class="lg:w-[750px] h-[350px] md:h-[500px]  ">
        </div>
        {% set count = count + 1 %}
    </div>
    {% else %}
    <div class="inline-flex relative">
        <div>
            <img src="/images/dining/whitebg.png" class="lg:w-[750px] h-[350px] md:h-[500px] ">
        </div>
        <div class="absolute bg-[#F3EEE8] top-[55%] md:top-[72px] right-[10%] md:right-[40%] lg:right-[50%] max-w-[500px] md:max-w-[514px] lg:max-w-[580px] ">
            <div class="mx-6 md:mx-12">
                <p class="primary-clr text-2xl md:text-5xl pt-4 md:pt-10 leading-snug medium">{{d.title}}</p>
                <p class="text-sm md:text-base font-serif leading-6 text-justify pt-2 md:pt-4 lg:leading-tight">{{d.desc}}</p>
                <button class="primary-clr hover:text-black text-sm mb-8 mt-8 md:mb-12 md:mt-6 leading-widest">EXPLORE → </button>
            </div>
        </div>
        <div>
            <img src="{{d.image}}" alt="{{d.title}}" class="w-[900px] h-[350px] md:w-[1500px] md:h-[500px] object-right right-0 object-none">
        </div>
        {% set count = count + 1 %}
    </div>
    {% endif %}
    {% endfor %}
</div>