---
layout: default.njk
---

<div class="bg-[#C29A5C]">
    {% include "header.html" %}
    <p class="text-white text-center text-5xl md:text-9xl pb-12 md:py-12 lg:py-24">Experience</p>
</div>
<div class="mx-[4%] md:mx-[8%] lg:mx-[20%] pt-8 md:pt-20">
    <p class="primary-clr text-3xl md:text-6xl text-center py-6 leading-tight md:leading-snug tracking-tight">
        Unveil the treasures of Thalassery through a curated selection of authentic local experiences
    </p>
    <div class="flex items-center justify-center pt-6 md:pt-8 lg:pt-6 pb-16 md:pb-24 lg:pb-14">
        <img src="/images/about-us/divider.svg" alt="divider">
    </div>
</div>

<div class="flex flex-col items-center pb-20">
    {% for e in page.exp.experience %}
    <div class="mx-[5%] md:mx-[4%] pt-12 pb-2">
        <img src="{{e.image}}" alt="{{e.title}}" class="mb-4 w-full h-[286px] md:w-[857px] md:h-[571px] lg:w-[960px] lg:h-[640px]">
    </div>
    <div class="container w-full lg:w-[960px] ">
        <div class="mx-6 lg:mx-10 flex-row md:inline-flex gap-4 lg:gap-10">
            <div class="flex flex-col md:w-[250px] lg:w-[260px]">
                <p class="primary-clr text-sm md:pt-4 lg:pt-2 leading-snug font-semibold tracking-widest">{{e.num}}</p>
                <p class="primary-clr text-3xl md:text-4xl lg:pt-2 medium text-wrap">{{e.title}}</p>
            </div>
            <div class="text-left md:w-[420px] lg:w-[600px]">
                <p class="text-sm md:text-base leading-6 ">{{e.desc1}}</p>
                <p class="text-sm md:text-base leading-6 ">{{e.desc2}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>