---
layout: base.njk
---
<div class="bg-[#C29A5C] h-[300px] md:h-[500px] lg:h-[620px]">
{% include "header.html" %} 
<p class="text-white text-center text-5xl md:text-9xl pb-10  md:py-12 lg:py-16 semibold">Gallery</p>
<div class="lg:top-[425px] px-6 md:px-10 pb-16 md:pb-28">
    <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
        {% for img in page.gallery.photos %}
        <img src="{{img.image}}" alt="{{img.alt}}" class="w-full">
        {% endfor %}
    </div>
</div>
