---
layout: default.njk
---

<div class="bg-[#C29A5C]">
    {% include "header.html" %}
    <p class="text-white text-center text-5xl md:text-9xl pb-12 md:py-12 lg:py-24">History</p>
</div>

<div class="mx-[2%] md:mx-[4%]  pt-12 md:pt-24 lg:pt-32">
    <div class="text-[#1A1A1A] text-sm md:text-lg text-center font-bold tracking-widest font-Fraunces">OUR STORY</div>
    <div class="mx-auto text-center lg:max-w-[1250px]">
        <p class="primary-clr text-3xl md:text-6xl text-center medium py-2 md:py-6 leading-tight md:tracking-tight md:tracking-normal" style="line-height: 1.25;">
        Treat yourself to the exquisitely ullamcorper lectus consectetur id tristique condimentum eget libero heritage hotel in Jaipur.</p>
    </div>
    <div class="flex items-center justify-center pt-4 md:pt-6 lg:pt-4 pb-4 md:pb-12 lg:pb-14 lg:pb-12">
        <img src="/images/about-us/divider.svg" alt="divider">
    </div>
    <div class="mx-[3%] md:mx-[14%] lg:mx-0">
        <div class="mx-auto text-center lg:max-w-[700px] pb-1 tracking-tight">
            <p class="text-sm md:text-base font-serif text-left">Phasellus vitae volutpat donec at felis
                mauris tincidunt elit vel eu aenean commodo, tincidunt elementum et dictum scelerisque tempus amet eget
                viverra lectus tristique suspendisse tortor feugiat eu lacinia sed elementum in iaculis sapien cursus
                odio massa gravida ut molestie sed vel senectus donec nunc nunc nec laoreet.</p>
            <p class="text-sm md:text-base font-serif mt-5 text-left">Amet orci arcu, dictum in ut congue
                molestie convallis etiam convallis sed dictumst neque, in sapien diam dignissim est phasellus velit
                adipiscing viverra faucibus sociis etiam consequat congue tellus sit tempus tortor, interdum quis amet
                augue netus enim integer in urna, a eu, risus sit pretium, semper feugiat elit neque, leo venenatis
                blandit malesuada enim est sapien fermentum mauris in lectus bibendum phasellus urna.</p>
        </div>
    </div>
</div>


<div class="mx-auto max-w-full md:max-w-[1100px]">
    <div class="flex-row md:inline-flex gap-2 md:gap-8 lg:gap-12 mx-[5%] pt-16 md:pt-20">
        <div class="md:py-10 space-y-10 md:space-y-6 lg:space-y-10">
            <img src="/images/history/img2.jpg" alt="image2"
                class="w-full h-[300px] md:w-[320px] md:h-[170px] lg:h-[220px] object-cover">
            <img src="/images/history/img3.jpg" alt="image3"
                class="w-full h-[300px] md:w-[320px] md:h-[170px] lg:h-[220px] object-cover">
        </div>
        <div class="inline-flex gap-8 md:gap-12 w-full md:w-auto">
            <div class="py-10 md:py-0 w-1/2 md:w-full">
                <img src="/images/history/img1.jpg" alt="image1"
                    class="w-full h-[300px] md:w-[400px] lg:w-[350px] md:h-[450px] lg:h-[550px] object-cover">
            </div>
            <div class="py-10  w-1/2 md:w-full">
                <img src="/images/history/img4.jpg" alt="image4"
                    class="w-full h-[300px] md:w-[320px] md:h-[360px] lg:h-[480px] object-cover">
            </div>
        </div>
    </div>
</div>

<div class="mx-[5%] md:mx-[15%] lg:mx-0 pt-4 md:pt-6">
    <div class="mx-auto text-center lg:max-w-[700px] pb-8 md:pb-16 tracking-tight">
        <p class="text-sm md:text-base font-serif text-left">Dictum egestas eleifend pulvinar imperdiet
            sit venenatis porttitor egestas ut auctor purus suspendisse in arcu condimentum risus at phasellus nulla
            aenean tristique dui quis blandit tellus sed pellentesque eu arcu, vestibulum donec.</p>
        <p class="text-sm md:text-base font-serif text-left">Nisl adipiscing blandit pulvinar faucibus
            faucibus feugiat tincidunt gravida elit elementum, proin nisl nunc, urna, ac dictum tellus quis faucibus
            curabitur morbi dui in.</p>
    </div>
</div>

<div class="mx-[5%] md:mx-8 lg:mx-auto max-w-full md:max-w-[1100px]">
    <div class="flex-row md:inline-flex pt-8 pb-8 md:pb-20 lg:pb-40 md:space-x-10">
        <div class="lg:ml-16">
            <img src="/images/history/img5.jpg" alt="image5" class="w-full md:w-[384px] h-[576px] object-cover">
        </div>
        <div class="flex-1 md:mx-[1%] tracking-tight">
            <div class="lg:mx-16">
                <p class="text-sm md:text-base font-serif text-left">Euismod cras habitant dictum turpis
                    interdum non scelerisque in tincidunt diam fringilla sapien, cursus velit rutrum est nulla lectus
                    molestie magna enim in sed pharetra est pretium nisl lacus lobortis nam scelerisque augue cursus
                    eget pellentesque in semper netus convallis arcu lorem amet curabitur phasellus suspendisse.</p>
                <p class="text-sm md:text-base font-serif text-left">Amet diam scelerisque adipiscing
                    elementum mauris velit vitae sem urna diam sollicitudin lacus posuere arcu sem sit ultrices enim et
                    sed dolor risus.</p>
                <div class="md:mr-10 items-center pt-4">
                    <div class="flex flex-col md:flex-row">
                        <img src="/images/history/quote-icon.png" alt="quoteicon"
                            class="mr-3 w-[24px] h-[24px] md:mr-3 md:w-[24px] md:h-[24px]">
                        <p class="text-sm md:text-base font-serif semibold md:ml-1 tracking-normal">Volutpat diam proin at phasellus
                            faucibus enim at viverra urna pretium elit egestas in magna turpis ut ac ut sit sit arcu
                            nulla feugiat justo, facilisis luctus mattis adipiscing sed ut.</p>
                    </div>
                    <div class="text-sm md:text-lg font-serif text-left pb-4 md:pl-[8%]">Owner of Raj
                        Vilas Palace</div>
                </div>
                <p class="text-sm md:text-base font-serif text-left">Velit vitae sem urna diam
                    sollicitudin lacus posuere arcu sem sit ultrices enim et sed dolor risus.</p>
            </div>
        </div>
    </div>
</div>