---
layout: default.njk
---

<div class="bg-[#111827]">
    {% include "header.html" %}
    <p class="font-fraunces text-white text-center text-5xl md:text-9xl pb-12 md:py-12 lg:py-24">Beyond Beaches & Biryani</p>
</div>
<div class="mx-[2%] md:mx-[4%] pt-12 md:pt-24 lg:pt-32">
    <div class="text-[#1A1A1A] text-sm md:text-lg text-center font-bold tracking-widest font-Fraunces upper-case">History of Thalassery & The Home</div>
    <div class="mx-auto text-center lg:max-w-[1250px]">
        <p class="font-fraunces primary-clr text-3xl md:text-6xl text-center medium py-2 md:py-6 leading-tight md:tracking-tight md:tracking-normal" style="line-height: 1.25;">
            Discover Thalassery:  A Warm Embrace of History, Cultural Diversity, and Culinary Delights in God’s Own Country
        </p>
    </div>
    <div class="flex items-center justify-center pt-4 md:pt-6 lg:pt-4 pb-4 md:pb-12 lg:pb-14">
        <img src="/images/about-us/divider.svg" alt="divider">
    </div>
    <div class="mx-[3%] md:mx-[14%] lg:mx-0">
        <div class="mx-auto text-center lg:max-w-[700px] pb-1 tracking-tight text-base md:text-lg">
            <p class="text-left">Thalassery, is a coastal town located in Kannur district in the northern part of Kerala, India. Steeped in history, culture, and natural beauty, Thalassery is a hidden gem for travellers seeking an offbeat beach destination in Kerala.</p>
            <p class="text-left mt-5">It offers a blend of historical charm, authentic cuisines, and cultural diversity that sets it apart as a must-visit destination in Kerala. As you explore this historic coastal town, you’ll uncover the rich tapestry of its heritage and the warm hospitality of its people.</p>
            <p class="text-left">The name Thalassey is synonymous with biryani, spices, and Theyyam.</p>
        </div>
    </div>
</div>
<div class="mx-auto max-w-full md:max-w-[1100px]">
    <div class="flex-row md:inline-flex gap-2 md:gap-8 lg:gap-12 mx-[5%] pt-16 md:pt-20">
        <div class="md:py-10 space-y-10 md:space-y-6 lg:space-y-10">
            <img src="/images/history/History Left Top.jpeg" alt="image2"
                 class="w-full h-[300px] md:w-[320px] md:h-[170px] lg:h-[220px] object-cover">
            <img src="/images/history/History Left Bottom.jpeg" alt="image3"
                 class="w-full h-[300px] md:w-[320px] md:h-[170px] lg:h-[220px] object-cover">
        </div>
        <div class="inline-flex gap-8 md:gap-12 w-full md:w-auto">
            <div class="py-10 md:py-0 w-1/2 md:w-full">
                <img src="/images/history/History Centre Bigg.jpeg" alt="image1"
                     class="w-full h-[300px] md:w-[400px] lg:w-[350px] md:h-[450px] lg:h-[550px] object-cover">
            </div>
            <div class="py-10  w-1/2 md:w-full">
                <img src="/images/history/History Right Side Big.jpeg" alt="image4"
                     class="w-full h-[300px] md:w-[320px] md:h-[360px] lg:h-[480px] object-cover">
            </div>
        </div>
    </div>
</div>
<div class="mx-[5%] md:mx-[15%] lg:mx-0 pt-4 md:pt-6 space-y-10">
    {% for h in page.history.history %}
    <div class="mx-auto text-center lg:max-w-[700px]">
        <p class="font-fraunces text-lg md:text-xl text-left semibold primary-clr">{{h.title}}</p>
        <p class="text-base md:text-lg text-left">{{h.desc}}</p>
    </div>
    {% endfor %}
</div>
<div class="mx-[5%] md:mx-8 lg:mx-auto max-w-full md:max-w-[1100px]">
    <div class="mx-auto text-center lg:max-w-[1250px] pt-8">
        <p class="font-fraunces primary-clr text-3xl md:text-6xl text-center medium py-2 md:py-6 leading-tight md:tracking-tight md:tracking-normal" style="line-height: 1.25;">
            History of The Heritage 1866
        </p>
    </div>
    <div class="flex items-center justify-center pt-4 md:pt-6 lg:pt-4 pb-4 md:pb-12 lg:pb-10">
        <img src="/images/about-us/divider.svg" alt="divider">
    </div>
    <div class="flex-row md:inline-flex pt-12 md:space-x-10">
        <div class="lg:ml-16">
            <img src="/images/history/Rairu Nair.jpeg" alt="image5" class="w-full md:w-[400px] h-[576px]">
        </div>
        <div class="flex-1 md:mx-[1%]">
            <div class="lg:mx-16 pt-4 text-left lg:max-w-[450px]">
                <p>As implied by the brand name, the story of this esteemed residence traces its origins to the year 1866. With a legacy spanning 158 years, this distinguished residence belonged to the late Sri Chathoth Ryru Nair - a man of unwavering spirit, a freedom fighter, disciple of Mahatma Gandhi, accomplished businessman, and a prominent social figure.</p>
                <p>Built over a century ago by the late Rao Bahadur T.V. Narayanan Nair, the main house and "Padippura'' (Gatehouse) initiated the metamorphosis of this home. Sri Narayanan Nair, a District Judge under British rule, preserved the existing structure while constructing a traditional "ettu kettu," the Purathalath house, which later became known as the "Judge Bungalow." After his demise in 1940, the house fell into bad times without proper upkeep and maintenance.</p>
            </div>
        </div>
    </div>
    <div class="mx-auto lg:max-w-[700px] text-left md:pt-4 lg:pt-10">
        <p>In 1994, Sri Chathoth Ryru Nair (C. R. Nair) and his wife Smt. Mundani Narayani Kutty Amma acquired Judge Bungalow from his elder brother K.P.N. Nair, who had purchased the house from the Judge's heirs in 1979. For over 25 years, C. R. Nair passionately renovated and refurbished the house, hosting celebrities and dignitaries. Some rooms were removed to create the present "nalu kettu'' structure.Following the demise of Ryru Nair and Narayani Kutty Amma, their children decided to preserve the historic mansion, transforming it into a Heritage Home focused on Responsible Tourism. </p>
        <p>The Judge Bungalow has, for decades, been a silent witness to history, hosting dignitaries from various walks of life. Now, as it transforms into a premium heritage homestay, it continues the legacy of warm hospitality, comfortable accommodation, and authentic local delicacies.</p>
        <p>The project was inaugurated by the Hon'ble Chief Minister of Kerala, Sri Pinaray Vijayan, on 12 January 2023. The property has now been officially branded as "The Heritage 1866" at Judge Bungalow</p>
    </div>
    <div class="mx-auto max-w-full md:max-w-[1100px]">
        <div class="flex-row md:inline-flex gap-2 md:gap-8 lg:gap-12 mx-[5%] pt-16">
            <div class="md:py-10 space-y-10 md:space-y-6 lg:space-y-10">
                <img src="/images/history/History of the Home- Left Top.jpeg" alt="image2"
                     class="w-full h-[300px] md:w-[320px] md:h-[170px] lg:h-[220px] object-cover">
                <img src="/images/history/History  of The Home- Left Bottom.jpeg" alt="image3"
                     class="w-full h-[300px] md:w-[320px] md:h-[170px] lg:h-[220px] object-cover">
            </div>
            <div class="inline-flex gap-8 md:gap-12 w-full md:w-auto">
                <div class="py-10 md:py-0 w-1/2 md:w-full">
                    <img src="/images/history/History of the Home Centre Big- New.jpeg" alt="image1"
                         class="w-full h-[300px] md:w-[400px] lg:w-[350px] md:h-[450px] lg:h-[550px] object-cover">
                </div>
                <div class="py-10  w-1/2 md:w-full">
                    <img src="/images/history/History of The Home- Right Side.jpeg" alt="image4"
                         class="w-full h-[300px] md:w-[320px] md:h-[360px] lg:h-[480px] object-cover">
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto lg:max-w-[700px] text-left md:pt-4 lg:pt-10">
        <p>The traditional Kerala style architecture immerses guests in a vintage opulence, adorned with fine wooden decor and elegant antique furniture. What makes Heritage 1866 even more special is its collection of treasured artefacts, including a kooja (water pitcher) gifted to Ryru Nair by Netaji Subhas Chandra Bose himself.</p>
        <p>Guests have the opportunity to delve into the myriad offerings of the historic towns of Thalassery, Kannur and Mahe. From the serenity of village life to captivating Theyyam performances, renowned local cuisine, unspoiled beaches, Kalari to coir and beedi making, a diverse range of authentic local experiences awaits them.</p>
        <p>Step into Heritage 1866, and immerse yourself in the fine blend of rich history, timeless elegance and warm hospitality.</p>
    </div>
</div>
<div class="mx-auto text-center lg:max-w-[1100px] pt-10 md:pt-14 lg:pt-16">
    <div class="flex items-center justify-center">
        <img src="/images/about-us/divider.svg" alt="divider">
    </div>
    <div class="font-fraunces primary-clr text-3xl md:text-6xl text-center py-6 md:py-10 pt-5 medium tracking-tight leading-10 lg:leading-12 w-full max-w-[300px] md:max-w-[900px] lg:max-w-[950px] lg:h-max-[307px] mx-auto text-clip overflow-hidden"
         style="line-height: 1.5;">
        Discover the charm of Thalassery at <br> The Heritage 1866.<br> Your unforgettable experience awaits!
    </div>
    <div class="flex items-center justify-center pb-16">
        <img src="/images/about-us/divider.svg" alt="divider">
    </div>
</div>