<div class="flex flex-col items-center justify-center h-screen bg-white text-center">
  <h1 class="text-3xl font-bold mb-4">Site is Parked</h1>
  <p>For more information, please contact Polika</p>
  <div class="flex flex-col">
    <a style="display:block; margin-top:8px;" class="text-blue-600" href="tel:+918050640555">
      +91 8050 640 555
    </a>
    <a style="display:block; margin-top:8px;" class="text-blue-600" href="mailto:hello@polika.net">
      hello@polika.net
    </a>
  </div>
</div>