---
layout: default.njk
---

<div class="bg-[#111827]">
    {% include "header.html" %}
    <p class="font-fraunces text-white text-center text-4xl md:text-7xl lg:text-9xl pb-12 md:py-12 lg:py-24 mx-10">Suites & Rooms</p>
</div>



<div class="flex justify-center">
<div class="max-w-[420px] md:max-w-[750px] lg:max-w-[780px]">
    <p class="font-fraunces primary-clr text-sm md:text-base text-center lg:py-4 pt-10 md:pt-16 lg:pt-20 medium tracking-widest" style="line-height: 1.25;">STAYING AT THE HERITAGE 1866</p>
    <p class="text-sm md:text-base text-center pb-8 md:pb-14">The heritage home offers 12 spacious vintage bedrooms, each with attached bathrooms.
Each room is meticulously attended to, ensuring a delightful stay for our esteemed guests.

The rooms are named after native flowers of our region.</p>
</div>
</div>
<div id="app" class="container mx-auto">
    <div class="options flex justify-center mb-4 gap-6 text-sm md:text-base font-bold font-fraunces flex-wrap">
        <button class="option hover:primary-clr uppercase" @click="selectOption(-1)" :class="{ 'yellow-underline': selectedOption === -1 }">All Rooms</button>
        <button class="option hover:primary-clr uppercase" @click="selectOption(0)" :class="{ 'yellow-underline': selectedOption === 0 }">Premium Deluxe Suites</button>
        <button class="option hover:primary-clr uppercase" @click="selectOption(1)" :class="{ 'yellow-underline': selectedOption === 1 }">Deluxe Suites</button>
        <button class="option hover:primary-clr uppercase" @click="selectOption(2)" :class="{ 'yellow-underline': selectedOption === 2 }">Standard Double Room</button>
        <button class="option hover:primary-clr uppercase" @click="selectOption(3)" :class="{ 'yellow-underline': selectedOption === 3 }">Single Rooms</button>
    </div> 

    <div id="content">
        {% set i=0 %}
        <div v-show="selectedOption === -1">
            <div class="mx-[5%] md:mx-8 lg:mx-auto max-w-[500px] md:max-w-[900px] lg:max-w-[1300px]">
                    <p class="font-fraunces primary-clr text-3xl md:text-5xl lg:pt-16 leading-snug medium whitespace-nowrap py-10 text-center text-wrap">The Heritage Grand Suite</p>
                    <div class="flex justify-center">
                        <div class="min-w-screen-lg">
                            <div class="">
                                <div class="">
                                  <a href="/rooms/grand_suite/suryakanthi">
                                    <div style="overflow: hidden;">
                                        <img src="/images/roomdp/Heritage Grand Suite- Suryakanthi/Heritage Grand Suite- Main.jpeg" alt="image" class="w-full lg:w-[650px] h-[350px] md:h-[400px] lg:h-[450px] transition-transform hover:scale-105">
                                    </div>
                                    </a>
                                    <div class="flex justify-center">
                                    <div class="mt-4 max-w-[400px] md:max-w-[600px] lg:max-w-[550px] text-center">
                                        <a href="/rooms/grand_suite/suryakanthi" class="hover:no-underline">
                                        <h3 class="text-2xl md:text-3xl font-fraunces">Suryakanthi</h3>
                                        </a>
                                        <button class="primary-clr hover:text-black text-base md:text-base mt-2 md:mt-4 lg:mb-8">
                                            <a href="/rooms/grand_suite/suryakanthi" class="hover:no-underline">View Room → </a>
                                        </button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        {% for rm in page.roomssuites.room_type %}
            <div id="content-{{ i }}" class="content" v-show="selectedOption === {{ i }} || selectedOption === -1">
                <div class="mx-[5%] md:mx-8 lg:mx-auto max-w-[500px] md:max-w-[900px] lg:max-w-[1300px]">
                    <p class="font-fraunces primary-clr text-3xl md:text-5xl lg:pt-8 leading-snug medium whitespace-nowrap py-10 text-center text-wrap">{{rm.title}}</p>
                    <div class="flex justify-center">
                        <div class="min-w-screen-lg">
                            <div class="grid grid-cols-1 md:grid-cols-2 lg:flex lg:flex-wrap justify-center gap-11">
                                {% for t in page.roomssuites.rooms_list %}
                                {% if t.type == rm.title %}
                                <div class="">
                                  <a href="{{t.link}}">
                                    <div style="overflow: hidden;">
                                        <img src="{{t.image}}" alt={{t.title}} class="w-[404px] h-[269px] transition-transform hover:scale-105">
                                    </div>
                                    </a>
                                    <div class="mt-4 max-w-[400px] md:max-w-[600px] lg:max-w-[404px] text-center">
                                        <a href="{{t.link}}" class="hover:no-underline">
                                        <h3 class="text-2xl md:text-3xl font-fraunces">{{t.title}}</h3>
                                        </a>
                                        <button class="primary-clr hover:text-black text-base md:text-base mt-2 md:mt-4">
                                            <a href={{t.link}} class="hover:no-underline">View Room → </a>
                                        </button>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% set i = i + 1 %}
        {% endfor %}
    </div>

</div>


<div class="bg-[#EAE3DC]">
    <div class="justify-center max-w-[400px] md:max-w-[850px] lg:max-w-[1500px] mx-8 lg:mx-auto mt-20 md:mt-24 py-10">
        <div class="flex-row md:flex md:gap-20 lg:gap-40 md:mx-4">
            <div class="md:w-1/2">
                <div class="text-xs">THE ESSENTIAL IN-ROOM AMENITIES</div>
                <div class="font-fraunces text-2xl md:text-4xl medium mt-4 md:mt-6">Our spaces have all the essentials you need for your stay.</div>
            </div>
        </div>

        <div class="flex flex-wrap justify-left md:justify-center mt-8 md:mt-12 lg:mt-16">
            {% for rm in page.roomssuites.room_essentials %}
            <div class="w-full md:w-1/2 lg:w-1/4 md:p-4">
                <div>
                    <img src="{{rm.image}}" alt={{rm.title}}>
                    <div class="mt-4">
                        <h3 class="font-fraunces text-lg font-fraunces">{{rm.title}}</h3>
                        <p class="text-sm md:text-base text-gray-600">{{rm.desc}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<div  class="mx-auto text-center lg:max-w-[1100px] pt-10 md:pt-14 lg:pt-16">
  <div class="flex items-center justify-center">
    <img src="/images/about-us/divider.svg" alt="divider">
  </div>
  <div class="font-fraunces primary-clr text-3xl md:text-6xl text-center py-6 md:py-10 pt-5 medium tracking-tight leading-10 lg:leading-12 w-full max-w-[300px] md:max-w-[900px] lg:max-w-[950px] lg:h-max-[307px] mx-auto text-clip overflow-hidden"
  style="line-height: 1.5;">Discover the charm of Thalassery at <br> The Heritage 1866.<br> Your unforgettable experience awaits!</div>
  <div class="flex items-center justify-center pb-16">
    <img src="/images/about-us/divider.svg" alt="divider">
  </div>
</div>








<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            selectedOption: -1 // Default to show all rooms
        },
        methods: {
            selectOption(option) {
                this.selectedOption = option;
            }
        },
        mounted() {
            // Show the content for the default option (All Rooms)
            showContent(-1);
        }
    });
</script>

<script>
    function showContent(index) {
        // Hide all content divs
        var contentDivs = document.querySelectorAll('.content');
        contentDivs.forEach(function (div) {
            div.style.display = 'none';
        });

        // Show the selected content div
        var selectedContentDiv = document.getElementById('content-' + index);
        if (selectedContentDiv) {
            selectedContentDiv.style.display = 'block';
        }
    }
</script>
<style>
    .yellow-underline {
        text-decoration: underline;
        text-decoration-color: #C29A5C;
        text-underline-offset: 8px; /* Distance of 2px from the text */
        text-decoration-thickness: 3px; /* Underline thickness of 2px */
    }
</style>