---
layout: default.njk
---

<div class="flex-col lg:ml-0 md:ml-0 ">
{% include "root/banner.html" %}
{% include "root/about-us.html" %}
{% include "root/spec.html" %}
{% include "root/rooms.html" %}
{% include "root/cuisine.html" %}
{% include "root/amenities.html" %}
{% include "root/slide.html" %}
{% include "root/places.html" %}
</div>