<div class="flex items-center justify-center mx-auto bg-white border shadow-lg lg:max-w-[1200px] lg:h-[133px] lg:top-[-65px] lg:relative">
    <div class="flex-row lg:inline-flex space-y-8 lg:space-y-0 py-8 lg:py-10 px-12 gap-16">
        <div class="flex items-center justify-center ">
            <a href="/">
                <img class="w-[80px] md:w-[120px] lg:w-[200px] h-full" src="/images/logo-black.svg" alt="logo">
            </a>
        </div>
        <div class="flex-row md:inline-flex md:space-x-5 lg:space-x-6">
            <div class="text-gray-800 text-center md:text-left text-sm md:text-lg  my-3">
                Feel the warmth of home within the grandeur of The Heritage 1866. Step into a century-old haven,
                experience unparalleled hospitality, and discover the captivating essence of Thalassery.
            </div>
            <div class="flex items-center justify-center pt-6 md:pt-0 md:pl-[8%] lg:pl-[4%]">
                <button
                    class="ftrtext font-baskervville lg:inline-block py-2 px-6 w-full md:max-w-[213px] primary-clr border text-xs flex items-center justify-center hover:bg-yellow-600 hover:text-white border-yellow-600 transition duration-200 tracking-widest semibold">
                    <a class="hover:no-underline" href="/contact">BOOKING</a>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="mx-4 md:mx-10 ">
    <div class="semibold text-sm text-center tracking-widest font-fraunces pt-28 lg:pt-20 uppercase"> Namaste</div>
    <p class="font-fraunces primary-clr text-3xl md:text-6xl text-center py-6 pt-5 medium tracking-tight leading-10 lg:leading-12 w-full max-w-[1100px] lg:w-full lg:max-w-[1150px] lg:h-max-[307px] lg:mx-auto text-clip overflow-hidden"
        style="line-height: 1.25;">
        Step Into The Home of Rich History, Timeless Elegance & Warm Hospitality
    </p>
    <div class="flex items-center justify-center md:pt-2 md:pb-10">
        <img src="/images/about-us/divider.svg" alt="divider">
    </div>
    <p class="abt-text mt-5">
        Welcome to Heritage 1866. Nestled in the picturesque Melur village near Dharmadam in Thalassery, this
        158-year-old heritage home, once the proud residence of an Indian freedom fighter, stands as a testament to
        unwavering spirit and cultural richness. Immerse yourself in the vintage opulence of traditional Kerala
        architecture, elegant antiques, and cherished artefacts which whisper stories of a bygone era.
    </p>
    <p class="abt-text">
        Unwind yourself in spacious, elegantly appointed rooms, each a haven of tranquillity. Indulge in authentic
        Thalassery cuisine, prepared with the freshest local produce.
    </p>
    <p class="abt-text">
        More than just a stay, we offer a curated journey into the vibrant heart of this storied spice port. Beyond your
        tranquil haven, explore the soul of Thalassery. Immerse yourself in the electrifying energy of Theyyam
        performances, where ancient rituals come alive. Savour the magic of Thalassery Biryani, a legendary local
        delicacy. Wander through bustling markets overflowing with the freshest spices, their enticing aromas
        transporting you back to Thalassery's trading heyday.
    </p>
    <p class="abt-text mt-5">
        Step into Heritage 1866, and immerse yourself in the fine blend of rich history, timeless elegance and warm
        hospitality.
    </p>
    <div class="flex items-center justify-center py-6 md:py-10">
        <button
            class="lg:inline-block py-2 px-6 text-xs tracking-widest medium primary-clr border hover:bg-yellow-600 hover:text-white border-yellow-600 transition duration-200 font-baskervville">
            <a class="hover:no-underline" href="/history">MORE ABOUT THE HISTORY</a>
        </button>
    </div>
</div>