<div class="flex-row md:inline-flex mx-8 md:mx-12 lg:mx-[18%] pt-10 md:pt-16 lg:pt-32">
    <div class="flex-1 md:w-[50%]">
        <p class="primary-clr text-4xl justify-start md:text-6xl  md:mx-4 md:py-2 font-semibold">Amenities</p>
    </div>
    <div class="flex-1 md:max-w-[50%]">
        <p class="text-gray-600 justify-center text-sm md:text-base font-serif">Phasellus vitae volutpat donec at felis mauris tincidunt elit vel eu aenean commodo, tincidunt elementum et dictum scelerisque tempus amet eget viverra lectus tristique suspendisse tortor feugiat eu lacinia sed elementum in iaculis sapien cursus odio massa gravida ut molestie sed vel senectus donec nunc nunc nec laoreet.</p>
    </div>      
</div>

<div class="pt-10 md:pt-14 lg:pt-20">
    <div class="flex-row lg:flex w-full">
        <div class="flex-row md:flex w-full">
            <div class="lg:w-1/2 md:w-full">
                <img src="/images/amenities/img1.jpg" alt="image1" class="object-cover w-full lg:w-auto h-[240px] md:h-[400px] lg:h-[480px]">
            </div>
            <div class="lg:w-1/2 md:w-full order-1 md:order-2">
                <div class="container lg:w-[474px ]  h-auto">
                        <div class="mx-5 md:mx-10 lg:mx-12 md:my-14 lg:my-10">
                    <p class="primary-clr text-xl md:text-4xl leading-snug font-bold">In-room dining</p>
                    <p class="text-gray-600 text-sm md:text-base font-serif leading-6 text-left">Egestas platea hac pharetra lacus risus nibh et id amet elementum in mi suscipit egestas ipsum sollicitudin eget vitae quam diam senectus ac pharetra at congue diam nulla viverra sapien laoreet.</p>
                    <button class="primary-clr hover:text-black text-sm semibold mb-8 lg:mb-0 lg:mt-6">LEARN MORE → </button>
                </div>
            </div>
            </div>
        </div>

        
        <div class="flex-row md:flex w-full">
            <div class="lg:w-1/2 md:w-full md:hidden lg:block">
                <img src="/images/amenities/img2.jpg" alt="image2" class="object-cover md:hidden lg:block  w-full lg:w-auto h-[240px] lg:h-[480px]">
            </div>
            <div class="md:w-1/2 ">
                <div class="container lg:w-[474px ]  h-auto">
                    <div class="mx-5 md:mx-10 lg:mx-12 md:my-14 lg:my-10">
                    <p class="primary-clr text-xl md:text-4xl leading-snug font-bold">Sutra Cafe</p>
                    <p class="text-gray-600 text-sm md:text-base font-serif leading-6 text-left">Egestas platea hac pharetra lacus risus nibh et id amet elementum in mi suscipit egestas ipsum sollicitudin eget vitae quam diam senectus ac pharetra at congue diam nulla viverra sapien laoreet.</p>
                    <button class="primary-clr hover:text-black text-sm font-bold mb-8 lg:mb-0 lg:mt-6">LEARN MORE → </button>
                </div>
                </div>
            </div>
            <div class="md:w-1/2 lg:hidden">
                <img src="/images/amenities/img2.jpg" alt="image2" class="object-cover hidden md:block lg:hidden  w-full lg:w-auto h-[240px] md:h-[400px] lg:h-[480px]">
            </div>
        </div>
    </div>
    

<div class="flex-row lg:flex w-full">
    <div class="flex-row md:flex w-full">
        <div class="lg:hidden md:w-1/2">
            <img src="/images/amenities/img3.jpg" alt="image3" class="object-cover w-full h-[240px] md:h-[400px]">
        </div>      
        <div class="md:w-1/2">
            <div class="container lg:w-[474px ]  h-auto">
                <div class="mx-5 md:mx-10 lg:mx-12 md:my-14 lg:my-10">
                <p class="primary-clr text-xl md:text-4xl leading-snug font-bold">Private Dining</p>
                <p class="text-gray-600 text-sm md:text-base font-serif leading-6 text-left">Egestas platea hac pharetra lacus risus nibh et id amet elementum in mi suscipit egestas ipsum sollicitudin eget vitae quam diam senectus ac pharetra at congue diam nulla viverra sapien laoreet.</p>
                <button class="primary-clr hover:text-black text-sm font-bold mb-8 md:mb-0 lg:mt-6">LEARN MORE → </button>
            </div>
            </div>
        </div>
        <div class="hidden lg:block lg:w-1/2">
            <img src="/images/amenities/img3.jpg" alt="image3" class="object-cover w-full lg:w-auto lg:h-[480px]">
        </div>
    </div>
    
    <div class="flex-row md:inline-flex w-full">
        <div class="md:hidden md:w-full">
            <img src="/images/amenities/img4.jpg" alt="image4" class="object-cover w-full h-[240px] md:h-[400px]">
        </div>
        <div class="md:w-full">
            <div class="container lg:w-[474px ] h-auto">
                <div class="mx-5 md:mx-10 lg:mx-12 md:my-14 lg:my-10">
                <p class="primary-clr text-xl md:text-4xl leading-snug font-bold">Jalu Restaurant</p>
                <p class="text-gray-600 text-sm md:text-base font-serif leading-6 text-left">Egestas platea hac pharetra lacus risus nibh et id amet elementum in mi suscipit egestas ipsum sollicitudin eget vitae quam diam senectus ac pharetra at congue diam nulla viverra sapien laoreet.</p>
                <button class="primary-clr hover:text-black text-sm font-bold mb-8 lg:mb-0 lg:mt-6">LEARN MORE → </button>
            </div>
            </div>
        </div>
        <div class="hidden md:block md:w-full">
            <img src="/images/amenities/img4.jpg"alt="image4" class="object-cover w-full md:h-[400px] lg:w-auto lg:h-[480px]">
        </div>
    </div>
</div>
</div>