<div class="lg:container md:mx-auto mx-6">
    <div class="flex-row md:inline-flex pt-10 md:pt-16 lg:pt-32 lg:gap-10">
        <div class="md:w-1/2">
            <p class="font-fraunces primary-clr text-3xl md:text-6xl lg:text-left md:mx-4 md:py-2 medium">Places To Go</p>
        </div>
        <div class="md:w-1/2 lg:max-w-[1000px]">
            <p class="lg:ml-10 mx-2">Unravel the secrets of its rich history, immerse yourself in
                the rhythm of local traditions, and embark on culinary adventures that tantalise your taste buds. From
                hidden gems to vibrant festivals, Thalassery invites you to uncover its unique charm and create
                unforgettable memories to cherish a lifetime.
            </p>
        </div>
    </div>
</div>

<div class="pt-10 md:pt-14 lg:pt-20">
    <div class="flex-row lg:flex w-full">
        <div class="flex-row md:flex w-full">
            <div class="lg:w-1/2 md:w-full">
                <img src="/images/amenities/Dharmadam.jpeg" alt="Dharmadam"
                    class="object-cover w-full lg:w-auto h-[240px] md:h-[400px] lg:h-[480px]">
            </div>
            <div class="lg:w-1/2 md:w-full order-1 md:order-2">
                <div class="container ">
                    <div class="mx-5 md:mx-10 lg:mx-12 md:mt-6 lg:mt-8">
                        <p class="primary-clr text-xl md:text-2xl lg:text-3xl leading-snug font-bold">Dharmadam Island</p>
                        <p class="text-sm md:text-base text-left">Located about 100 metres away from the beach, Dharmadam Island has turned into a favourite for people seeking a secluded and tranquil getaway. This small uninhabited island is covered with a canopy of coconut palms and dense bushes. One can approach it only at low tide, and strolls around the place give one a brilliant view of the confluence of the Anjarakandy and Thalassery Rivers on to the Arabian Sea.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="flex-row md:flex w-full pt-6 md:pt-0">
            <div class="lg:w-1/2 md:w-full md:hidden lg:block">
                <img src="/images/amenities/Muzhuppilangad.jpeg" alt="Muzhuppilangad"
                    class="object-cover md:hidden lg:block  w-full lg:w-auto h-[240px] lg:h-[480px]">
            </div>
            <div class="md:w-1/2 ">
                <div class="container">
                    <div class="mx-5 md:mx-10 lg:mx-12 md:mt-6 lg:mt-8">
                    <p class="primary-clr text-xl md:text-2xl lg:text-2xl leading-snug font-bold text-wrap">Muzhappilangad Drive In Beach</p>
                        <p class="text-sm md:text-base text-left">As India’s only drive-in beach, Muzhappilangad has a beautiful 4 km stretch of beach sand where you can freely drive right next to the waves. Muzhappilangad beach is also the longest drive-in beach in Asia. Come for the drive and stay for the stunning view the place offers.</p>
                    </div>
                </div>
            </div>
            <div class="md:w-1/2 lg:hidden">
                <img src="/images/amenities/Muzhuppilangad.jpeg" alt="Muzhuppilangad"
                    class="object-cover hidden md:block lg:hidden  w-full lg:w-auto h-[240px] md:h-[400px] lg:h-[480px]">
            </div>
        </div>
    </div>


    <div class="flex-row lg:flex w-full pt-6 md:pt-0">
        <div class="flex-row md:flex w-full">
            <div class="lg:hidden md:w-1/2">
                <img src="/images/amenities/Thalassery Fort.jpeg" alt="Thalassery Fort" class="object-cover w-full h-[240px] md:h-[400px]">
            </div>
            <div class="md:w-1/2">
                <div class="container">
                    <div class="mx-5 md:mx-10 lg:mx-12 md:mt-6 lg:mt-8">
                        <p class="primary-clr text-xl md:text-2xl lg:text-3xl leading-snug font-bold">Thalassery Fort</p>
                        <p class="text-sm md:text-base text-left">Built by the British East India Company in the late 18th century, Thalassery Fort is a well-preserved historical monument in the heart of the town. Its massive walls, secret tunnels, and cannons reflect its strategic importance during colonial times, offering visitors a glimpse into the colonial past of Thalassery. The arresting square fort has gigantic walls, massive, intricately carved doors and secret tunnels leading to the sea that make it a delight to explore.</p>
                    </div>
                </div>
            </div>
            <div class="hidden lg:block lg:w-1/2">
                <img src="/images/amenities/Thalassery Fort.jpeg" alt="Thalassery Fort" class="object-cover w-full lg:w-auto lg:h-[480px]">
            </div>
        </div>

        <div class="flex-row md:inline-flex w-full pt-6 md:pt-0">
            <div class="md:hidden md:w-full">
                <img src="/images/amenities/Andalur Kavu.jpeg" alt="Andalur Kavu" class="object-cover w-full h-[240px] md:h-[400px]">
            </div>
            <div class="md:w-full">
                <div class="container">
                    <div class="mx-5 md:mx-10 lg:mx-10 md:mt-6 lg:mt-10">
                        <p class="primary-clr text-xl md:text-2xl lg:text-3xl leading-snug font-bold">Andalur Kavu</p>
                        <p class="text-sm md:text-base text-left">Believed to have been built by the Sage Parasurama, Andalur Kavu is a renowned Lord Rama temple in Kerala. The temple is popular for its annual Theyyam festival called Kaliyattam marked by three nights of grand fireworks. The performances here are based on the stories of Epic Ramayana. More than 10 Theyyams are performed here during the festival period which takes place in the Malayalam month of Kumbham which falls in February-March.</p>
                    </div>
                </div>
            </div>
            <div class="hidden md:block md:w-full pt-6 md:pt-0">
                <img src="/images/amenities/Andalur Kavu.jpeg" alt="Andalur Kavu"
                    class="object-cover w-full md:h-[400px] lg:w-auto lg:h-[480px]">
            </div>
        </div>
    </div>
</div>




<div class="">
    <div class="flex-row lg:flex w-full pt-6 md:pt-0">
        <div class="flex-row md:flex w-full">
            <div class="lg:w-1/2 md:w-full">
                <img src="/images/amenities/Thalassery Old Pier.jpeg" alt="Thalassery Old Pier"
                    class="object-cover w-full lg:w-auto h-[240px] md:h-[400px] lg:h-[480px]">
            </div>
            <div class="lg:w-1/2 md:w-full order-1 md:order-2">
                <div class="container ">
                    <div class="mx-5 md:mx-10 lg:mx-12 md:mt-6 lg:mt-8 ">
                        <p class="primary-clr text-xl md:text-2xl lg:text-3xl leading-snug font-bold">Thalassery Old Pier</p>
                        <p class="text-sm md:text-base text-left">Thalassery Old Pier is a historic structure built during the British colonial period for maritime trade. This "kadalpalam"(sea bridge) was used as a commercial access through the sea, to and from the local market, during European rule. While it is no longer functional, the weather-beaten pier stands as a testament to Thalassery's maritime heritage and offers panoramic views of the Arabian Sea.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="flex-row md:flex w-full pt-6 md:pt-0">
            <div class="lg:w-1/2 md:w-full md:hidden lg:block">
                <img src="/images/amenities/Gundert.jpeg" alt="Gundert"
                    class="object-cover md:hidden lg:block  w-full lg:w-auto h-[240px] lg:h-[480px]">
            </div>
            <div class="md:w-1/2 ">
                <div class="container">
                    <div class="mx-5 md:mx-10 lg:mx-12 md:mt-6 lg:mt-8">
                        <p class="primary-clr text-xl md:text-2xl lg:text-3xl leading-snug font-bold">Gundert Bungalow</p>
                        <p class="text-sm md:text-base leading-6 text-left">Gundert Bungalow was the residence of Dr Hermann Gundert, a German missionary, scholar and lexicographer who is remembered for his invaluable contributions to the Malayalam language. Gundert lived here during the 19th century. Today, it serves as a museum showcasing artefacts related to his life and work, offering insights into Kerala's cultural and literary history.</p>
                    </div>
                </div>
            </div>
            <div class="md:w-1/2 lg:hidden">
                <img src="/images/amenities/Gundert.jpeg" alt="Gundert"
                    class="object-cover hidden md:block lg:hidden  w-full lg:w-auto h-[240px] md:h-[400px] lg:h-[480px]">
            </div>
        </div>
    </div>


    <div class="flex-row lg:flex w-full pt-6 md:pt-0">
        <div class="flex-row md:flex w-full">
            <div class="lg:hidden md:w-1/2">
                <img src="/images/amenities/Old Market and Graffiti Streets.jpeg" alt="Old Market and Graffiti Streets" class="object-cover w-full h-[240px] md:h-[400px]">
            </div>
            <div class="md:w-1/2">
                <div class="container">
                    <div class="mx-5 md:mx-10 lg:mx-12 md:mt-6 lg:mt-8">
                        <p class="primary-clr text-xl md:text-2xl lg:text-3xl leading-snug font-bold">Old Markets & Graffiti Streets</p>
                        <p class="text-sm md:text-base text-left">Thalassery's old bazaars (markets), nestled in the heart of the town, is abuzz with activity as locals flock to procure fresh produce, spices, and seafood. The lively ambiance, coupled with traditional architecture and welcoming locals, creates a memorable experience.<br>The old streets serve as a dynamic gathering spot for local youth, featuring street food, bike stunts, and vibrant graffiti adorning the historic walls.
                        </p>
                    </div>
                </div>
            </div>
            <div class="hidden lg:block lg:w-1/2">
                <img src="/images/amenities/Old Market and Graffiti Streets.jpeg" alt="Old Market and Graffiti Streets" class="object-cover w-full lg:w-auto lg:h-[480px]">
            </div>
        </div>

        <div class="flex-row md:inline-flex w-full pt-6 md:pt-0">
            <div class="md:hidden md:w-full">
                <img src="/images/amenities/Mangrove Forests.jpeg" alt="Mangrove Forests" class="object-cover w-full h-[240px] md:h-[400px]">
            </div>
            <div class="md:w-full">
                <div class="container">
                    <div class="mx-5 md:mx-10 lg:mx-10 md:mt-6 lg:mt-10">
                        <p class="primary-clr text-xl md:text-2xl lg:text-3xl leading-snug font-bold">Mangrove Forests</p>
                        <p class="text-sm md:text-base text-left">The Anjarakandy River, along with its network of tributaries, harbours one of Kerala's most extensive Mangrove populations, making it a sanctuary of unparalleled natural beauty. Within this expansive ecosystem of mangrove forests and swamps lies a haven for rare avian species, aquatic lifeforms, and botanical wonders.<br>Nature lovers seeking to immerse themselves in this mesmerising riverine realm can embark on an adventure aboard a quaint country boat.</p>
                    </div>
                </div>
            </div>
            <div class="hidden md:block md:w-full">
                <img src="/images/amenities/Mangrove Forests.jpeg" alt="Mangrove Forests"
                    class="object-cover w-full md:h-[400px] lg:w-auto lg:h-[480px]">
            </div>
        </div>
    </div>
</div>
<div class="slideshow-container">
    <div class="mySlides fade pt-5 md:pt-0">
        <img src="/images/amenities/Things To Do Wide.jpeg" class="w-full h-auto lg:h-[780px]" alt="Thalassery fort">
    </div>
</div>