<div class="flex-row md:inline-flex mx-8 md:mx-12 lg:mx-[18%] pt-10 md:pt-16 lg:pt-32">
    <div class="flex-1 md:w-[50%]">
        <p class="primary-clr text-4xl justify-start md:text-6xl  md:mx-4 md:py-2 font-semibold">Amenities</p>
    </div>
    <div class="flex-1 md:max-w-[50%]">
        <p class="text-gray-600 justify-center text-sm md:text-base font-serif">Phasellus vitae volutpat donec at felis mauris tincidunt elit vel eu aenean commodo, tincidunt elementum et dictum scelerisque tempus amet eget viverra lectus tristique suspendisse tortor feugiat eu lacinia sed elementum in iaculis sapien cursus odio massa gravida ut molestie sed vel senectus donec nunc nunc nec laoreet.</p>
    </div>      
</div>

<div class="pt-10 md:pt-14 lg:pt-20">
    <div class="flex-row lg:inline-flex w-full">
        <div class="flex-row md:inline-flex w-full">
            <div class="lg:w-1/2 md:w-full">
                <img src="/images/amenities/img1.jpg" alt="image1" class="object-none w-full h-60 md:h-80 lg:h-full">
            </div>
            <div class="lg:w-1/2 md:w-full order-1 md:order-2">
                <div class="m-4 md:m-12 lg:mx-[18%] lg:my-28">
                    <p class="primary-clr text-2xl md:text-3xl lg:pt-2 leading-snug font-semibold">In-room dining</p>
                    <p class="text-gray-600 text-sm md:text-base font-serif leading-6 text-justify">Egestas platea hac pharetra lacus risus nibh et id amet elementum in mi suscipit egestas ipsum sollicitudin eget vitae quam diam senectus ac pharetra at congue diam nulla viverra sapien laoreet.</p>
                    <button class="primary-clr hover:text-black text-sm font-bold mb-8 lg:mb-0 lg:mt-10">LEARN MORE → </button>
                </div>
            </div>
        </div>
        <div class="flex-row md:inline-flex w-full">
            <div class="lg:w-1/2 md:w-full md:hidden lg:block">
                <img src="/images/amenities/img2.jpg" alt="image2" class="md:hidden lg:block object-none w-full h-60 lg:h-full">
            </div>
            <div class="md:w-1/2 ">
                <div class="m-4 md:m-12 lg:mx-[18%] lg:my-28">
                    <p class="primary-clr text-2xl md:text-3xl lg:pt-2 leading-snug font-semibold">Sutra Cafe</p>
                    <p class="text-gray-600 text-sm md:text-base font-serif leading-6 text-justify">Egestas platea hac pharetra lacus risus nibh et id amet elementum in mi suscipit egestas ipsum sollicitudin eget vitae quam diam senectus ac pharetra at congue diam nulla viverra sapien laoreet.</p>
                    <button class="primary-clr hover:text-black text-sm font-bold mb-8 lg:mb-0 lg:mt-10">LEARN MORE → </button>
                </div>
            </div>
            <div class="md:w-1/2 lg:hidden">
                <img src="/images/amenities/img2.jpg" alt="image2" class="hidden md:block lg:hidden object-none w-full h-60 md:h-80 lg:h-full">
            </div>
        </div>
    </div>
    

<div class="flex-row lg:inline-flex w-full">
    <div class="flex-row md:inline-flex w-full">
        <div class="lg:hidden md:w-1/2">
            <img src="/images/amenities/img3.jpg" alt="image3" class="object-none w-full h-60 md:h-80">
        </div>      
        <div class="md:w-1/2">
            <div class="m-4 md:m-12 lg:mx-[18%] lg:my-28">
                <p class="primary-clr text-2xl md:text-3xl lg:pt-2 leading-snug font-semibold">Private Dining</p>
                <p class="text-gray-600 text-sm md:text-base font-serif leading-6 text-justify">Egestas platea hac pharetra lacus risus nibh et id amet elementum in mi suscipit egestas ipsum sollicitudin eget vitae quam diam senectus ac pharetra at congue diam nulla viverra sapien laoreet.</p>
                <button class="primary-clr hover:text-black text-sm font-bold mb-8 md:mb-0 lg:mt-10">LEARN MORE → </button>
            </div>
        </div>
        <div class="hidden lg:block lg:w-1/2">
            <img src="/images/amenities/img3.jpg" alt="image3" class="object-none w-full lg:h-full">
        </div>
    </div>
    
    <div class="flex-row md:inline-flex w-full">
        <div class="md:hidden md:w-full">
            <img src="/images/amenities/img4.jpg" alt="image4" class="object-none w-full h-60 md:h-80">
        </div>
        <div class="md:w-full">
            <div class="m-4 md:m-12 lg:mx-[18%] lg:my-28">
                <p class="primary-clr text-2xl md:text-3xl lg:pt-2 leading-snug font-semibold">Jalu Restaurant</p>
                <p class="text-gray-600 text-sm md:text-base font-serif leading-6 text-justify">Egestas platea hac pharetra lacus risus nibh et id amet elementum in mi suscipit egestas ipsum sollicitudin eget vitae quam diam senectus ac pharetra at congue diam nulla viverra sapien laoreet.</p>
                <button class="primary-clr hover:text-black text-sm font-bold mb-8 lg:mb-0 lg:mt-10">LEARN MORE → </button>
            </div>
        </div>
        <div class="hidden md:block md:w-full">
            <img src="/images/amenities/img4.jpg"alt="image4" class="object-none w-full md:h-80 lg:h-full">
        </div>
    </div>
    
</div>
</div>