<div class="relative h-[50vh] md:h-[58vh] lg:h-[90vh] bg-cover bg-center slideshow" style="background-image: url('/images/home-slide/H1.jpeg');" onclick="changeSlide()">
    <div class="overlay-bg"></div>
    <div class="relative z-1">
        {% include "header.html" %}
    </div>
    <div class="py-[6vh] md:py-[5vh] lg:py-[16vh] flex items-center justify-center relative z-1">
        <div class="text-white text-center font-fraunces overflow-hidden">
            <p class="text-lg md:text-2xl tracking-widest m-0 p-0 uppercase font-fraunces">Step Back in Time at</p>
            <p id="slideshowText" class="text-5xl medium md:text-7xl lg:text-8xl pt-2 md:pt-2 pb-5 shadow m-0 p-0 font-fraunces">The Heritage 1866</p>
        </div>
    </div>
    <div class="absolute bottom-0 lg:bottom-[8%] left-0 right-0 flex justify-center mb-4">
        <div id="dotContainer" class="flex space-x-2"></div>
    </div>
</div>
