<div id="sSwiper" class="swiper h-[50vh] md:h-[58vh] lg:h-[90vh] relative overflow-hidden">
    <div class="absolute z-50 w-full">
        {% include "header.html" %}
    </div>
    <div class="absolute top-10 md:top-20 lg:top-0 bottom-0 left-0 right-0 flex flex-col items-center justify-center text-center font-fraunces overflow-hidden">
        <h3 class="text-white text-lg md:text-2xl tracking-widest m-0 p-0 uppercase font-fraunces z-50">Step Back in Time at</h3>
        <h1 class="text-white text-4xl medium md:text-7xl lg:text-8xl pt-2 md:pt-2 pb-5 m-0 p-0 font-fraunces z-50">
            The Heritage 1866
        </h1>
    </div>
    <div class="swiper-wrapper z-50">
        {% for i in page.banner.photos %}
        <div class="swiper-slide relative">
            <img src="{{ i.image }}" alt="{{ i.alt }}" class="h-full w-full object-cover">
            <div class="overlay absolute inset-0 bg-black opacity-30"></div>
        </div>
        {% endfor %}
    </div>
    <div class="hidden md:block">
    <div class="swiper-button-prev" style="color:white; background-color: transparent; margin-left: 4px; margin-right: 4px; color: #fff; font-size: 20px; line-height: 40px; text-align: center;"></div>
    <div class="swiper-button-next" style="color:white; background-color: transparent; margin-left: 4px; margin-right: 4px; color: #fff; font-size: 20px; line-height: 40px; text-align: center;"></div>
</div>
  <div class="swiper-pagination z-50 lg:pb-20"></div>
</div>