<div class="relative h-[480px] md:h-[520px] lg:h-[850px] bg-cover bg-center" style="background-image: url('/images/hotel-bg.jpg');">
    <div class="overlay"></div>
    <div class="relative z-1">
        {% include "header.html" %}
    </div>
    <div class=""></div>
    <div class="pt-[40px] md:pt-20 lg:pt-44 flex items-center justify-center relative z-1">
        <div class="text-white text-center">
            <p class="text-base font-bold">WELCOME TO</p>
            <p class="text-5xl medium md:text-9xl pt-4 shadow">Heritage 1866</p>
        </div>
    </div>   
</div>