<div class=" md:mx-10 lg:mx-52">
    <div class="text-[#1A1A1A] text-sm md:text-lg text-center font-fraunces font-bold tracking-widest pt-16 md:pt-20 lg:pt-40">Authentic Thalassery Cuisine</div>
    <div class="container lg:mx-auto w-full max-w-[1200px] md:max-w-[1200px] lg:max-w-[1100px]">
        <p class="font-fraunces primary-clr text-3xl md:text-6xl text-center md:pt-8 py-2 medium tracking-normal" style="line-height: 1.25;">Savour an exquisite journey through taste and time set in a vintage ambiance.</p>
    </div>
    <div class="flex items-center justify-center py-8">
        <img src="/images/about-us/divider.svg" alt="divider">
    </div>
</div>
<div class="container mx-auto w-full max-w-[1200px] lg:max-w-[1250px] lg:pt-4">
    <div class="flex-row md:inline-flex justify-center mx-6 md:mx-10 lg:mx-0 gap-4">
        <div class="flex-1">
            <p class="text-black text-2xl md:text-4xl text-center md:text-left lg:ml-10 lg:mr-24 medium font-fraunces tracking-tighter" style="line-height: 1.25;">Indulge in the unique flavours of Thalassery, lovingly crafted by local cooks with time-honoured recipes.</p>
        </div>
        <div class="flex-1 ">
            <p class="text-center text-sm md:text-lg md:text-left lg:mr-10">Thalassery's culinary scene shines with its fragrant biryani,cooked with love and bursting with spices - a legacy of Arab influence. But it's true charm lies in the diverse snacks. Sweet treats like muttamala (egg yolk noodles) and unnakaya (fried bananas) offer a delightful contrast to savoury bites like ari pathiri (spiced flatbreads) and kallummakaya (mussel) specialties. Each bite, a unique blend of local and borrowed traditions, making Thalassery a foodie's
            paradise.</p>
            <div class="flex items-center justify-center md:justify-start py-8">
                <button class="font-baskervville lg:inline-block py-2 px-6 primary-clr border hover:bg-yellow-600 hover:text-white border-yellow-600 transition duration-200">
                    <a class="hover:no-underline text-sm" href="/cuisine">DISCOVER MORE</a>
                </button>
            </div>
        </div>
    </div>
</div>
<img src="/images/dining/Dining Experience Wide.jpeg" alt="food" class="w-screen h-[179px] md:h-[351px] lg:h-[711px] pt-4 lg:pt-12 object-cover">