<div class=" md:mx-10 lg:mx-52">
            <div class="text-[#1A1A1A] text-base text-center font-bold tracking-wider md:pt-20 lg:pt-40">DINING EXPERIENCE</div>
                <p class="primary-clr text-4xl md:text-6xl text-center mx-4 py-2 lg:mx-[18%] font-semibold">Delicious cuisines and a unique setting to inspire a special occasion.</p>
                <div  class="flex items-center justify-center py-8">
                    <img src="/images/about-us/divider.svg" alt="divider">
                </div>
            </div>   
    </div>
    <div class="flex-row md:inline-flex justify-center lg:gap-16 mx-10 md:mx-10 lg:mx-[18%]">
        <div class="flex-1 md:w-[50%] px-4">
            <p class="text-black text-3xl md:text-5xl text-center md:text-left lg:mx-10">Specially crafted meal, served by a personal butler.</p>
        </div>
        <div class="flex-1 md:max-w-[50%] lg:px-4">
            <p class="text-gray-600 text-sm md:text-base text-center md:text-justify font-serif">Phasellus vitae volutpat donec at felis mauris tincidunt elit vel eu aenean commodo, tincidunt elementum et dictum scelerisque tempus amet eget viverra lectus tristique suspendisse tortor feugiat eu lacinia sed elementum in iaculis sapien cursus odio massa gravida ut molestie sed vel senectus donec nunc nunc nec laoreet.</p>
            <div class="flex items-center justify-center md:justify-start py-10">
                <button class="lg:inline-block py-2 px-6 primary-clr border hover:bg-yellow-600 hover:text-white border-yellow-600 transition duration-200">
                  <a class="hover:no-underline" href="/">DISCOVER MORE</a>
                </button>
              </div>
        </div>      
    </div>
    <img src="/images/dining/food.jpg" alt="food">
