<div class=" md:mx-10 lg:mx-52">
            <div class="text-[#1A1A1A] text-sm md:text-base text-center font-bold tracking-widest md:pt-20 lg:pt-40">DINING EXPERIENCE</div>
            <div class="container lg:mx-auto w-full max-w-[1200px] md:max-w-[1200px] lg:max-w-[950px]">
                <p class="primary-clr text-4xl md:text-6xl text-center  py-2 medium tracking-normal" style="line-height: 1.25;">Delicious cuisines and a unique setting to inspire a special occasion.</p>
            </div>
            <div  class="flex items-center justify-center py-8">
                    <img src="/images/about-us/divider.svg" alt="divider">
                </div>
            </div>   
    </div>
    <div class="container mx-auto w-full max-w-[1200px] lg:max-w-[1250px] lg:pt-4">
    <div class="flex-row md:inline-flex justify-center mx-6 md:mx-10 lg:mx-0">
        <div class="flex-1">
            <p class="text-black text-3xl md:text-5xl text-center md:text-left lg:ml-10 lg:mr-24 medium" style="line-height: 1.25;">Specially crafted meal, served by a personal butler.</p>
        </div>
        <div class="flex-1 ">
            <p class="text-gray-600 text-sm md:text-base text-center md:text-left font-serif lg:mr-10">Phasellus vitae volutpat donec at felis mauris tincidunt elit vel eu aenean commodo, tincidunt elementum et dictum scelerisque tempus amet eget viverra lectus tristique suspendisse tortor feugiat eu lacinia sed elementum in iaculis sapien cursus odio massa gravida ut molestie sed vel senectus donec nunc nunc nec laoreet.</p>
              <div class="flex items-center justify-center md:justify-start py-8">
                <button class="lg:inline-block py-2 px-6 primary-clr border hover:bg-yellow-600 hover:text-white border-yellow-600 transition duration-200">
                  <a class="hover:no-underline text-sm" href="/">DISCOVER MORE</a>
                </button>
              </div>
        </div>      
    </div>
</div>
    <img src="/images/dining/food.jpg" alt="food" class="pt-4 lg:pt-12">
