<div class="mx-6 md:mx-[5%] lg:mx-0">
  <div class="text-[#1A1A1A] text-xs md:text-sm text-center font-fraunces semibold tracking-widest pt-14 md:pt-20 lg:pt-36">LOCAL EXPERIENCES</div>
  <p class="font-fraunces primary-clr text-4xl md:text-6xl text-center md:py-4 leading-snug medium">Things To Do</p>
  <div class="mx-auto text-center lg:max-w-[1100px] pb-8 md:pb-16">
    <p class="text-base md:text-lg lg:mx-[8%]">Delight in culinary treasures, wander historic forts, celebrate local festivals, and bask in mesmerising beach sunsets. Explore the warmth and essence of Thalassery.</p>
  </div>
</div>
<div class="flex justify-center items-center  pb-2 lg:pb-8">
  <div class="flex-row md:flex justify-around w-4/4">
    {% for p in page.root.places %}
    <div class="text-center">
      <a href="/experience" class="hover:no-underline">
        <img src="{{p.image}}" alt="{{p.name}}" class="w-full h-[318px] md:h-[156px] lg:h-[316px] object-cover">
        <div class="text-gray-800 text-xl md:text-lg lg:text-2xl pt-3 pb-10 lg:pt-4 leading-snug semibold text-wrap gap-4">{{p.name}}</div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
<div class="flex items-center justify-center md:pt-0  pb-12 lg:pb-24">
  <button class="ftrtext font-baskervville lg:inline-block py-2 px-6 md:w-full md:max-w-[213px] primary-clr border text-sm flex items-center justify-center tracking-widest hover:bg-yellow-600 hover:text-white border-yellow-600 transition duration-200">
    <a class="hover:no-underline" href="/experience">MORE EXPERIENCES</a>
  </button>
</div>
<div class="mx-auto text-center lg:max-w-[1100px] pt-4">
  <div class="flex items-center justify-center">
    <img src="/images/about-us/divider.svg" alt="divider">
  </div>
  <div class="font-fraunces primary-clr text-3xl md:text-6xl text-center py-6 md:py-10 pt-5 medium tracking-tight leading-10 lg:leading-12 w-full max-w-[800px] md:max-w-[1100px] lg:max-w-[900px] lg:h-max-[307px] mx-auto text-clip overflow-hidden" style="line-height: 1.5;">
   Discover the charm of Thalassery at The Heritage 1866. Your unforgettable experienceawaits!</div>
  <div class="flex items-center justify-center pb-16">
    <img src="/images/about-us/divider.svg" alt="divider">
  </div>
</div>