<div class="mx-6 md:mx-[5%] lg:mx-[27%]">
    <div class="text-[#1A1A1A] text-sm md:text-base text-center font-bold tracking-widest pt-14 md:pt-20 lg:pt-40">LOCAL ATTRACTION</div>
    <p class="primary-clr text-4xl md:text-6xl text-center md:py-2 leading-snug medium">Place of Interest</p>
    <p class="text-gray-600 text-sm md:text-base font-serif text-center pb-10 md:pb-16 ">Phasellus vitae volutpat donec at felis mauris tincidunt elit vel eu aenean commodo, tincidunt elementum et dictum scelerisque tempus amet eget viverra lectus tristique suspendisse tortor feugiat eu lacinia sed elementum in iaculis sapien cursus odio massa gravida ut molestie sed vel senectus donec nunc nunc nec laoreet.</p>
</div>
<div class="flex justify-center items-center pb-32">
    <div class="flex-row md:flex justify-around w-4/4">
      {% for p in page.root.places %}
      <div class="text-center ">
        <img src="{{p.image}}" alt="{{p.name}}" class="w-full h-auto ">
        <div class="primary-clr text-xl md:text-3xl pt-2 pb-8 lg:pt-4 leading-snug font-bold">{{p.name}}</div>
      </div>
      {% endfor %}
    </div>
</div>
