<div class="mx-6 md:mx-[10%] lg:mx-0">
    <div class="text-[#1A1A1A] text-sm md:text-base text-center font-bold pt-24 md:pt-28 lg:pt-40 tracking-widest font-fraunces">RAJ VILAS PALACE</div>
    <p class="primary-clr text-4xl md:text-6xl text-center md:py-3 leading-snug medium">Rooms & Suites</p>
    <div class="mx-auto text-center lg:max-w-[1100px] pb-8 md:pb-16 ">
        <p class="text-sm md:text-base font-serif lg:mx-[100px]">Phasellus vitae volutpat donec at felis mauris tincidunt elit vel eu aenean commodo, tincidunt elementum et dictum scelerisque tempus amet eget viverra lectus tristique suspendisse tortor feugiat eu lacinia sed elementum in iaculis sapien cursus odio massa gravida ut molestie sed vel senectus donec nunc nunc nec laoreet.</p>
    </div>
</div>
    


<div class="flex-row lg:flex h-screen">
    <div class="md:inline-flex md:w-full md:h-1/2 lg:h-screen lg:w-2/3 lg:flex-none">
        <div class="flex-1 flex flex-col relative">
            <div class="flex-1 flex flex-col items-center justify-center bg-cover relative" style="background-image: url('/images/rooms/img1.jpg');">
                <div class="absolute inset-0 bg-gradient-to-t from-black opacity-80"></div>
                <a href="/rooms-suites" class="absolute inset-0 flex justify-center items-center w-full h-full"></a>
                <div class="md:mt-auto mt-28 mb-6 md:mb-6 lg:mb-16 text-center relative z-10">
                    <p class="text-white text-2xl md:text-4xl font-bold font-fraunces">Deluxe Room</p>
                    <button class="primary-clr hover:text-white text-sm font-bold mt-2 md:mt-4 lg:mt-6">
                        <a href="/rooms-suites" class="hover:no-underline">VIEW ROOMS → </a></button>
                </div>
            </div>

            <div class="flex-1 flex flex-col items-center justify-center bg-cover relative" style="background-image: url('/images/rooms/img2.jpg');">
                <div class="absolute inset-0 bg-gradient-to-t from-black opacity-80"></div>
                <a href="/rooms-suites" class="absolute inset-0 flex justify-center items-center w-full h-full"></a>
                <div class="md:mt-auto mt-28 mb-6 md:mb-6 lg:mb-16 text-center relative z-10">
                    <p class="text-white text-2xl md:text-4xl font-bold font-fraunces">Deluxe Suite</p>
                    <button class="primary-clr hover:text-white text-sm font-bold mt-2 md:mt-4 lg:mt-6">
                        <a href="/rooms-suites" class="hover:no-underline">VIEW ROOMS  → </a></button>
                </div>
            </div>
        </div>

        <div class="flex-1 flex flex-col items-center justify-center bg-cover relative" style="background-image: url('/images/rooms/img3.jpg');">
            <div class="absolute inset-0 bg-gradient-to-t from-black opacity-80"></div>
            <a href="/rooms-suites" class="absolute inset-0 flex justify-center items-center w-full h-full"></a>
            <div class="md:mt-auto mt-28 mb-6 md:mb-6 lg:mb-16 text-center relative z-10">
                <p class="text-white text-2xl md:text-4xl font-bold font-fraunces">Royal Suite</p>
                <button class="primary-clr hover:text-white text-sm font-bold mt-2 md:mt-4 lg:mt-6">
                    <a href="/rooms-suites" class="hover:no-underline">VIEW ROOMS  → </a>
                </button>
            </div>
        </div>

    </div>

    <div class="flex-1 flex flex-col items-center h-1/3 md:h-1/2 lg:h-screen justify-center bg-cover relative" style="background-image: url('/images/rooms/img4.jpg');">
        <div class="absolute inset-0 bg-gradient-to-t from-black opacity-80"></div>
        <a href="/rooms-suites" class="absolute inset-0 flex justify-center items-center w-full h-full"></a>
        <div class="mt-auto  mb-4 md:mb-6 lg:mb-16 text-center relative z-10">
            <p class="text-white text-2xl md:text-4xl font-bold font-fraunces">Heritage Suite</p>
            <button class="primary-clr hover:text-white text-sm font-bold mt-2 md:mt-4 lg:mt-6">
                <a href="/rooms-suites" class="hover:no-underline">VIEW ROOMS  → </a>
            </button>
        </div>
    </div>

</div>
