<!-- <div class="relative">
    <div class="slideshow-container">
        {% for img in page.root.slide %}
        <div class="mySlides fade pt-5 md:pt-0">
            <img src="{{img.image}}" class="w-full h-auto" alt="{{img.alt}}">
        </div>
        {% endfor %}
        <a class="prev absolute top-1/2 left-0 transform -translate-y-1/2  text-white font-bold py-2 px-4 rounded-l" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next absolute top-1/2 right-0 transform -translate-y-1/2 text-white font-bold py-2 px-4 rounded-r" onclick="plusSlides(1)">&#10095;</a>
    </div>
</div>

<script>
    let slideIndex = 0;
    function showSlides() {
        const slides = document.getElementsByClassName("mySlides");
        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex].style.display = "block";
    }

    function plusSlides(n) {
        slideIndex += n;
        const slides = document.getElementsByClassName("mySlides");
        if (slideIndex >= slides.length) {
            slideIndex = 0;
        }
        if (slideIndex < 0) {
            slideIndex = slides.length - 1;
        }
        showSlides();
    }
    showSlides();
</script> -->
